.mu-image-selector-wrapper {
    border-radius: 3px;
}

.mu-image-selector {
    width: 400px;
    height: 32px;
}

.mu-image-selector .image-edit-tool {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mu-image-selector .image-edit-tool .more {
    width: 40px;
    height: 32px;
    border-right: 1px solid var(--float-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.mu-image-selector .image-edit-tool .more-inner {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background-color: var(--editor-color-50);
}

.mu-image-selector .image-edit-tool .more:before,
.mu-image-selector .image-edit-tool .more:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    background-color: var(--editor-color-50);
    top: 14px;
}

.mu-image-selector .image-edit-tool .more:before {
    left: 10px;
}

.mu-image-selector .image-edit-tool .more:after {
    right: 10px;
}

.mu-image-selector .image-edit-tool .src {
    height: 32px;
    flex: 1;
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--float-border-color);
    margin: 0;
    padding: 0 5px;
    color: var(--editor-color-50);
}

.mu-image-selector .image-edit-tool .confirm {
    width: 40px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.mu-image-selector .image-edit-tool .confirm:hover {
    color: var(--theme-color);
}
